[submodule "submodules/downward"]
	path = submodules/downward
	url = git@github.com:aibasel/downward.git
	shallow = True
[submodule "submodules/symk"]
	path = submodules/symk
	url = git@github.com:wbthomason/symk.git
	shallow = True
[submodule "resources/icaps"]
	path = resources/icaps
	url = git@github.com:AI-Planning/classical-domains.git
