[submodule "pddlboat/submodules/downward"]
	path = pddlboat/submodules/downward
	url = git@github.com:aibasel/downward.git
[submodule "pddlboat/submodules/symk"]
	path = pddlboat/submodules/symk
	url = git@github.com:wbthomason/symk.git
[submodule "FOND4LTLf"]
	path = FOND4LTLf
	url = https://github.com/whitemech/FOND4LTLf.git
