[submodule "pddlboat/submodules/downward"]
	path = pddlboat/submodules/downward
	url = https://github.com/aibasel/downward.git
[submodule "pddlboat/submodules/symk"]
	path = pddlboat/submodules/symk
	url = https://github.com/wbthomason/symk.git
[submodule "competitors/FOND4LTLf"]
	path = competitors/FOND4LTLf
	url = https://github.com/whitemech/FOND4LTLf.git